* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.container {
  display: flex;
  background-color: hsl(0, 0%, 90%);
  flex-direction: row;
  width: 100vw;
  height: 100vh;
}

.picture {
  display: flex;
  position: relative;
  background-image: url(Images/pexels-eberhard-grossgasteiger-2310712.jpg);
  background-size: cover;
  width: 40vw;
  height: 100vh;
}

.logo {
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
}

/* .logo-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  width: 100%;
} */

.owl {
  height: 100px;
}

.right {
  display: grid;
  align-items: center;
  justify-content: center;
  width: 50%;
  margin-left: 29%;
  margin-right: auto;
  position: absolute; 
  top: 55%;
  transform:translateY(-50%); 
}

form {
  background-color: white;
  width: 215%;
  margin: 15px 0;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.column {
  flex-basis: 45%;
}

label {
  margin-top: 10px;
  display: block;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="tel"] {
  margin-bottom: 20px;
  padding: 10px;
  width: 100%;
  border: 1px Solid black;
  border-radius: 5px;
}

input[type="submit"] {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 15px;
}

input[type="submit"]:hover {
  background-color: #3e8e41;
}

.submit-btn {
  display: flex;
  margin-top: 5px;
  margin-bottom: 10px;
}

a {
  text-decoration: none;
}


